<script asp-src="/Orchard.Media/Scripts/media.js" asp-name="media" at="Foot" depends-on="admin, vuejs"></script>
<style asp-src="/Orchard.Media/Styles/media.min.css" debug-src="/Orchard.Media/Styles/media.css"></style>
<script asp-src="https://unpkg.com/vue" asp-name="vuejs" at="Foot"></script>

<nav class="admin-toolbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <div v-show="selectedFolder" class="upload-button">
                <label for="fileupload" class="btn btn-success fileinput-button">
                    <input id="fileupload" type="file" name="files" multiple="multiple">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    @T["Upload files..."]
                </label>
            </div>
        </li>
    </ul>
    <form class="form-inline">
        <input id="search-box" class="form-control mr-sm-2" type="text" placeholder="@T["Search"]" autofocus="autofocus">
        <button type="submit" class="btn btn-secondary my-2 my-sm-0">@T["Search"]</button>
    </form>
</nav>

<div id="media-breadcrumd" class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a :href="isHome ? null : '#'" v-on:click="selectRoot">@T["Media Library"]</a></li>
            <li v-for="(folder, i) in parents" v-cloak
                class="breadcrumb-item active">
                <a :href="parents.length - i == 1 ? null : '#'" v-on:click="select(folder)">{{ folder.name }}</a>
            </li>
        </ol>
    </div>
</div>

<div class="media-container row">

    <div id="navigationApp" class="media-container-navigation" v-cloak>
        <ol id="media-container-navigation-menu">
            <li>
                <div>
                    <a v-on:click="selectRoot" href="#">
                        <i class="folder fa fa-folder"></i>
                        @T["Media Library"]
                    </a>
                </div>
            </li>
            <folder v-for="folder in folders"
                    :key="folder.path"
                    :model="folder">
            </folder>
        </ol>
    </div>

    <div id="filesApp" class="media-container-main" v-cloak>
        <h3 v-if="selectedMedia">{{ selectedMedia.fileName }}</h3>
        <ol class="row">
            <li v-for="media in mediaItems"
                :key="media.name"
                class="col-md-3"
                v-on:click="selectMedia(media)">
                <div class="media-container-main-item">
                    <img v-bind:src="'/media/' + media.folder + '/' + media.fileName" />
                    <div class="media-container-main-item-title">
                        <span>{{ media.fileName }}</span>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>

<input type="hidden" id="getFoldersUrl" value="@Url.Action("GetFolders", "Admin" , new { area="Orchard.Media" })" />
<input type="hidden" id="getMediaItemsUrl" value="@Url.Action("GetMediaItems", "Admin", new { area = "Orchard.Media" })" />
<input type="hidden" id="uploadFiles" value="@Url.Action("Upload", "Admin", new { area = "Orchard.Media" })" />

<script type="text/x-template" id="folder-template">
    <li>
        <div>
            <i v-on:click="toggle" class="expand fa fa-caret-right" v-bind:class="{open: open, closed: !open, empty: empty}"></i>
            <a href="#" v-on:click="select">
                @* The icon is part of the link so the click zone is bigger *@
                <i class="folder fa fa-folder"></i>
                {{model.name}}
            </a>
        </div>
        <ol v-show="open">
            <folder
                  v-for="folder in children" 
                  :key="folder.path"
                  :model="folder">
            </folder>
        </ol>
    </li>
</script>